<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Directives</h1>
    </div>
  </div>
   <hr>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-left">Attribute Directives</h3>
      <div>
        <input type="text" [ngStyle]="{'border':'1px solid '+ textColor}"/>
      </div>

      <div [ngClass]="{'jumbotron':isJumbo}">My Name is Lakhan
<input type="text" [(ngModel)]="textColor">{{textColor}}
      </div>
      <input type="button" value="Toggle" (click)="isJumbo = !isJumbo">
    </div>
  </div>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

  <div class="row">
    <div class="col-md-12">
      <h3 class="text-left">custom Directives</h3>
    <div>
      <input type="text" appResizer>
    </div>
     
    </div>
  </div>
</div>